In [2]:
print("Tuples")

Tuples

In [ ]:
my_list = []

my_tuple = (4, "a string", True)

print(my_tuple)
print(type(my_tuple))

location = (53.4, 13.4)

(4, 'a string', True)
<class 'tuple'>

In [7]:
fruits1 = ("apple", "banana", "pineapple")
fruits2 = ("mango", "strawberry", "blueberry")

combine = fruits1 + fruits2
print(fruits1)
print(combine)

('apple', 'banana', 'pineapple')
('apple', 'banana', 'pineapple', 'mango', 'strawberry', 'blueberry')

In [8]:
repeated = fruits1 * 2
print(repeated)

('apple', 'banana', 'pineapple', 'apple', 'banana', 'pineapple')

In [ ]:
"Hello, World " * 5

'Hello, World Hello, World Hello, World Hello, World Hello, World '

In [ ]:
location = (53.4, 13.4)
print(location[0])

# unpack
# (latitude, longitude) = location
latitude, longitude = location
print(latitude)

53.4
53.4

In [16]:
favorite_colors = ("teal", "green", "red", "chartreuse")

first_color, second_color, _, _ = favorite_colors

first, *other_colors, last_one = favorite_colors

print(favorite_colors[-3])
print(second_color)
print(other_colors)
print(last_one)

green
green
['green', 'red']
chartreuse

In [ ]:
f_color = favorite_colors[0]
s_color = favorite_colors[1]

In [19]:
my_list = [0, 1, 2, 3, 4, 5, 6]

zero, one, *_ = my_list

print(zero)
print(_)

0
[2, 3, 4, 5, 6]

In [ ]:
users = [[1, "name"], [2, "max"], [3, "gesine"]]

transformed_list = [f"{username}:{id}" for (id, username) in users]
print(transformed_list)

['name:1', 'max:2', 'gesine:3']