In [3]:
print("Flow")

x = 42

my_tuple = (x,)

print("another print")

Flow
another print

In [ ]:
age = 19
condition = age >= 18

if condition is True:
    print("May drive a car")
    print("May drive a car")
else:
    print("cannot drive a car")
    print("cannot drive a car")
    print("cannot drive a car")

May drive a car
May drive a car

In [ ]:
age = 19

if age >= 18:
    print("May drive a car")
    print("May drive a car")
else:
    print("cannot drive a car")
    print("cannot drive a car")
    print("cannot drive a car")

May drive a car
May drive a car

In [40]:
hour_of_day = 11
weather_is_good = False

if hour_of_day < 10 and weather_is_good:
    print("Good morning")
elif hour_of_day < 14 and weather_is_good:
    print("Good day, indeed")
elif hour_of_day < 14 and not weather_is_good:
    print("Nasty day")
elif hour_of_day < 18:
    print("Good afternoon")
else:
    print("Good evening")


print("END")
# logical and -> &&
# Python: and

Nasty day
END

In [24]:
hour = 17

if hour > 15:
    print("afternoon")
elif hour > 12:
    print("noon")

afternoon

In [31]:
hour = 10
greeting = "Good morning" if 8 < hour < 12 else "Good day"  # Ternary operator
print(greeting)

Good morning

In [ ]:
hour = 3

if 8 < hour < 12:
    print("morning")

In [ ]:
user_keybord_pressed = input()

match user_keybord_pressed:
    case "w":
        print("Move forward")
    case "s":
        print("Move backwards")
    case "a":
        print("Move left")
    case "d":
        print("Move right")
    case _:
        print("default")

Move forward

In [41]:
print("LOOPS!")

LOOPS!

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

In [49]:
count = 0

while count < 3:
    print(count)
    count += 1

print("END OF LOOP")

0
1
2
END OF LOOP

In [ ]:
my_list = ["Stanisislav", "Moritz", "Leila", "Jochen"]

for name in my_list:
    print(name)

Stanisislav
Moritz
Leila
Jochen

In [ ]:
# Iterable

my_tup = (12, 34, 45)
for thingy in my_tup:
    print(thingy)

12
34
45

In [57]:
print(greeting)

for character in greeting:
    print(character.upper(), end="\t")

Good morning
G	O	O	D	 	M	O	R	N	I	N	G

In [61]:
my_dict = {
    "id": 123,
    "name": "Guybrush Threepwood",
    "email": "mighty@pirate.gov",
    "borrowed_books": 1,
    "return_date": "1990-10-15",
    "lang": "es",
}

for key, value in my_dict.items():
    print(key, value)

id 123
name Guybrush Threepwood
email mighty@pirate.gov
borrowed_books 1
return_date 1990-10-15
lang es

In [ ]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [81]:
my_list = ["Stanisislav", 42, "Stephan", "Moritz", "Leila", "Jochen"]

for name in my_list:
    if not isinstance(name, str):
        continue
    if name == "Stephan":
        continue
    print(name)
    if name == "Moritz":
        break

Stanisislav
Moritz

In [83]:
arr = [1, "2", 3, "4"]

for x in arr:
    if type(x) != str:
        print(x)

1
3

In [ ]:
my_list = ["Stanisislav", "Moritz", "Leila", "Jochen"]

for index, name in enumerate(my_list):
    print(index, name)

0 Stanisislav
1 Moritz
2 Leila
3 Jochen