In [1]:
print("Exercises!")

Exercises!

In [4]:
# Basic If Condition
# Write a block that checks if a number is positive,
# negative, or zero using simple if, elif, and else.
# You must declare any necessary variable(s).
some_number = 0

if some_number > 0:
    print("positive")
elif some_number < 0:
    print("negative")
else:
    print("zero")

zero

In [16]:
# Grade Calculator
# Given a score between 0 and 100, use if, elif, and else to determine and print the corresponding grade (A, B, C, D, or F).

score = int(input())

if score > 100:
    print("That's not possible")
elif 90 < score < 101:
    print("A")
elif 80 < score < 91:
    print("B")
elif 70 < score < 81:
    print("C")
elif 60 < score < 71:
    print("D")
else:
    print("F")

B

In [ ]:
# Ternary Operator Practice Use a ternary operator to set a variable status to "adult" if age is 18 or older, and "minor" otherwise.
age = 20

# result = <val_when_true> if <condition> else <val_when_false>
status = "adult" if age >= 18 else "minor"

In [22]:
# For Loop over a List Iterate over a list of vehicles
# using a for loop and print an f-string with each vehicle.
vehicles = ["bicycle", "skateboard", "hoverboard", "skaters"]

# I'm am riding a ...

for vehicle in vehicles:
    print(f"I'm am riding a {vehicle}!")

I'm am riding a bicycle!
I'm am riding a skateboard!
I'm am riding a hoverboard!
I'm am riding a skaters!

In [38]:
# For Loop with Conditions
#  Loop over numbers 1 to 10 using a for loop and print only the even numbers, skipping the odds using continue.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#      [1, 0, 1, 0, 1, 0...]

for number in nums:
    if number % 2 != 0:
        continue
    print(number)


for i in range(2, 11, 2):
    print(i)

2
4
6
8
10
2
4
6
8
10

In [34]:
if len([43, 23]) != 0:
    print("Was Truthy")
else:
    print("Was Falsy")

Was Truthy

In [43]:
# While Loop
# Summation Use a while loop to sum all numbers from 1 to 100.
# Print the total sum at the end.

total = 0
current_number = 1

while current_number < 101:
    total += current_number
    current_number += 1

print(total)
print(list(range(101)))

5050
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [1]:
easy_nums = list(range(0, 1001, 2))
print(easy_nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

In [ ]:
# Break out of a Loop Iterate over a list of words and break out of the loop as soon as a word with more than 5 letters is found. Print that word.

list_of_words = "I over a list of words and break out of the loop as soon as a word with more than 5 letters is found.".split(
    " "
)
# print(list_of_words)

for word in list_of_words:
    if len(word) > 5:
        print("Success: ", word)
        break

In [ ]:
# Nested Loops Create a list of people and a list of pets.
# Loop over the lists in order to print all the possible combinations
# of persons and a respective pet.

In [ ]:
# Loop with Else Clause Use a for loop to search for a specific value
# in a list. If the value is found, print a success message
# and break out of the loop. Otherwise, after the loop finishes,
# use an else clause to print that the value was not found.

In [ ]:
# Pass Statement Usage Create an empty loop over a list of
# items using pass to practice structure without executing any code.

In [ ]:
# Pattern matching
# Create three lists: fruits, veggies, meat
# Add different food items to each list
# Create a match expression to determine if a given item in a variable item is a fruit, a veggie, a meat product or anything else.
# Remember you can create guards with if statements.